        /*CSS Animation Properties*/



/*
@keyframes
animation-name
animation-duration
animation-delay
animation-iteration-count
animation-direction
animation-timing-function
animation-fill-mode
animation
*/

            /*COLOR CHANGING*/

.color {
    margin-left: 50px;
    width: 100px;
    height: 100px;
    background-color: lightgreen; /*when animation finished, it changes back to it's orignal style.*/
    animation-name: color; /*decalare a custom animation name. */
    animation-duration: 4s; /*animation duration*/
  }
  
  
  
  @keyframes color {
    from {background-color: rgb(22, 163, 168);} /* starting from this color*/
    to {background-color: rgb(13, 197, 38);} /* to this color*/
  }


            /* LINEAR MOVEMENT*/


  .move{
    margin-left: 50px;
    width: 100px;
    height: 100px;
    background: rgb(115, 214, 129); /*when animation finished, it changes back to it's orignal style.*/
    position: relative;
    animation-name: linear; /*decalare a custom animation name. */
    animation-duration: 5s; /*animation duration*/

  }
  @keyframes linear {
    from {left: 0px;} /*Starts from 0px*/
    to {left: 300px;} /*end at 300px*/
  }


            /*Change  the background-color and the position of the <div> element when the animation is 25% complete,
             50% complete, and again when the animation is 100% complete:*/

            .perc {
  margin-left: 50px;            
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: percent;
  animation-duration: 4s;
}

@keyframes percent {
    0%   {background-color: rgb(119, 28, 28);}
    25%  {background-color: rgb(0, 255, 255);}
    50%  {background-color: rgb(170, 87, 196);}
    100% {background-color: rgb(165, 201, 136);}
  }


/*DIRECTION*/

  .direct{
margin-left: 50px;
width: 100px;
height: 100px;
background-color: chocolate;
position: relative;
animation-name: direction;
animation-duration: 5s;
animation-delay: 3s;
/*animation-delay: -3s;*/ /*If using negative values, the animation will start as if it had already been playing for N seconds.*/
  }


  @keyframes direction {

0% {background-clip: rgb(197, 31, 123); left: 0px; top:0px;}

25% {background-clip: rgb(54, 194, 112); left: 200px; top:0px;}

50% {background-clip: rgb(212, 226, 15); left: 200px; top:200px;}

75% {background-clip: rgb(93, 69, 201); left: 0px; top:200px;}

100% {background-clip: rgba(207, 131, 17, 0.726); left: 0px; top:0px;}
  }



                /*ANIMATION ITERATION*/


    .iteration{
        margin-left: 50px;
width: 100px;
height: 100px;
background-color:rgb(223, 180, 149);
position: relative;
animation-name: iter;
animation-duration: 5s;
animation-delay: 3s;              
animation-iteration-count: 5;   
}



@keyframes iter {

    0% {background-clip: rgb(197, 31, 123); left: 0px; top:0px;}
    
    25% {background-clip: rgb(54, 194, 112); left: 200px; top:0px;}
    
    50% {background-clip: rgb(212, 226, 15); left: 200px; top:200px;}
    
    75% {background-clip: rgb(93, 69, 201); left: 0px; top:200px;}
    
    100% {background-clip: rgba(207, 131, 17, 0.726); left: 0px; top:0px;}
      }
    

      /*ALTERNATE DIRECTION*/
/*The animation-direction property specifies whether an animation should be played forwards, 
backwards or in alternate cycles.*/

/*FOLLOWING ARE THE ANIMATION DIRECTION PROPERTIES

The animation-direction property can have the following values:

normal - The animation is played as normal (forwards). This is default
reverse - The animation is played in reverse direction (backwards)
alternate - The animation is played forwards first, then backwards
alternate-reverse - The animation is played backwards first, then forwards



*/
      .alternate{
        margin-left: 50px;
width: 100px;
height: 100px;
background-color:rgb(83, 226, 131);
overflow-wrap: break-word;
position: relative;
animation-name: alter;
animation-duration: 5s;
animation-delay: 3s;              
animation-iteration-count: 5;   
animation-direction: alternate-reverse;
}



@keyframes alter {

    0% {background-clip: rgb(197, 31, 123); left: 0px; top:0px;}
    
    25% {background-clip: rgb(54, 194, 112); left: 200px; top:0px;}
    
    50% {background-clip: rgb(212, 226, 15); left: 200px; top:200px;}
    
    75% {background-clip: rgb(93, 69, 201); left: 0px; top:200px;}
    
    100% {background-clip: rgba(207, 131, 17, 0.726); left: 0px; top:0px;}
      }

